USE [master]
GO
/****** Object:  Database [QLcuahangmaytinh]    Script Date: 24/12/2016 4:11:03 CH ******/
CREATE DATABASE [QLcuahangmaytinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLcuahangmaytinh', FILENAME = N'D:\Google Chrome\Đồ án quản lý cửa hàng bán máy tính_2\QLcuahangmaytinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLcuahangmaytinh_log', FILENAME = N'D:\Google Chrome\Đồ án quản lý cửa hàng bán máy tính_2\QLcuahangmaytinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLcuahangmaytinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLcuahangmaytinh]
GO
USE [QLcuahangmaytinh]
GO
/****** Object:  Table [dbo].[Hoadonban]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadonban](
	[MaHDB] [char](10) NOT NULL,
	[MaNV] [char](10) NOT NULL,
	[MaKH] [char](10) NULL,
	[MaMT] [char](10) NULL,
	[Soluong] [int] NULL,
	[Ngayban] [date] NULL,
	[Diachi] [varchar](50) NULL,
	[sdt] [int] NULL,
	[Dongia] [float] NULL,
	[Tongtien] [float] NULL,
 CONSTRAINT [PK__Hoadonba__3C90E8FADA78553C] PRIMARY KEY CLUSTERED 
(
	[MaHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hoadonnhap]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadonnhap](
	[MaHDN] [char](10) NOT NULL,
	[MaNV] [char](10) NULL,
	[MaMT] [char](10) NULL,
	[MaNCC] [char](10) NULL,
	[Soluong] [int] NULL,
	[Ngayban] [date] NULL,
	[Diachi] [varchar](50) NULL,
	[sdt] [int] NULL,
	[Dongia] [float] NULL,
	[Tongtien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [varchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[sdt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [char](10) NOT NULL,
	[TenNCC] [varchar](50) NULL,
	[Diachi] [nvarchar](50) NULL,
	[sdt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [varchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[sdt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinMT]    Script Date: 24/12/2016 4:11:03 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinMT](
	[MaMT] [char](10) NOT NULL,
	[tenmt] [varchar](50) NULL,
	[MaNCC] [char](10) NULL,
	[soluong] [int] NULL,
	[giaban] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Hoadonban]  WITH CHECK ADD  CONSTRAINT [FK__Hoadonban__MaKH__59063A47] FOREIGN KEY([MaKH])
REFERENCES [dbo].[Khachhang] ([MaKH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoadonban] CHECK CONSTRAINT [FK__Hoadonban__MaKH__59063A47]
GO
ALTER TABLE [dbo].[Hoadonban]  WITH CHECK ADD  CONSTRAINT [FK__Hoadonban__MaMT__59FA5E80] FOREIGN KEY([MaMT])
REFERENCES [dbo].[ThongTinMT] ([MaMT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoadonban] CHECK CONSTRAINT [FK__Hoadonban__MaMT__59FA5E80]
GO
ALTER TABLE [dbo].[Hoadonban]  WITH CHECK ADD  CONSTRAINT [FK__Hoadonban__MaNV__5812160E] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoadonban] CHECK CONSTRAINT [FK__Hoadonban__MaNV__5812160E]
GO
ALTER TABLE [dbo].[Hoadonnhap]  WITH CHECK ADD FOREIGN KEY([MaMT])
REFERENCES [dbo].[ThongTinMT] ([MaMT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoadonnhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[Nhanvien] ([MaNV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoadonnhap]  WITH CHECK ADD  CONSTRAINT [FK_Hoadonnhap_NhaCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[Hoadonnhap] CHECK CONSTRAINT [FK_Hoadonnhap_NhaCC]
GO
ALTER TABLE [dbo].[ThongTinMT]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
